.machete {
  margin-top: 2em;
  //height: 26rem;
  //width: 26rem;

  .bx--row {
    //height: 26rem;
    //overflow: auto;
  }

  .bx--select-input {
    width: auto;
  }

  .bx--btn {
    font-size: 18px;
  }

  .btn-row {
    display: inline-flex;
    width: 100%;
    align-self: flex-end;
    margin-top: 5em;

    .bx--col-lg-8:nth-child(2) {
      display: inline-flex;
      justify-content: flex-end;
    }
  }

  .titlu-executoriu {
    .bx--label {
      font-size: 20px;
    }
    .bx--select-input, .bx--text-input {
      font-size: 18px;
    }
  }

  .debit {
    .bx--label {
      margin-top: 1em;
      font-size: 20px;
    }
    .bx--select-input, .bx--text-input {
      margin-bottom: 1em;
      font-size: 18px;
    }
  }

  .react-checkbox-tree {
    .rct-text {
      font-size: 18px;

      label {
        display: flex;
      }

      .rct-node-icon {
        margin: 0 10px 0 0;
        height: 25px;
        width: 25px;

        svg {
          height: 25px;
          width: 25px;
        }
      }

      .rct-checkbox {
        //display: none;
        height: 25px;
        width: 25px;

        svg {
          height: 25px;
          width: 25px;
        }
      }

      .rct-title {
        padding: 0;
      }

    }
  }

  .check-box-tree-result {

    .react-checkbox-tree {

      .rct-text {
        &:hover {
          cursor: pointer;
        }

        .rct-checkbox {
          display: none;
        }
      }

    }

  }

  h4 {
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    color: #0f62fe;
    font-family: 'InsightWebBold'
  }


  //@media only screen and (max-width: 768px) {
  //  //margin-top: 1em;
  //  .separator {
  //    display: inline;
  //  }
  //}


}